.content{
    width: 800px;
    height: 800px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mesa{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: 25px solid brown;

    background-color: green;
}